<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACFunHB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84B6E4E41C3CB461008647B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B6E4FD1C3CB462008647B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B6E5081C3CB462008647B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
